html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    outline: solid;
    outline-width: thin;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.centerSpan {
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

#homeButton {
    float: left;
    height: 100%;
    width: 50px;
    outline: solid;
    outline-width: thin;
    display: block;
}

.upperRightButton {
    float: right;
    height: 100%;
    width: 50px;
    outline: solid;
    outline-width: thin;
}

.button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.disabledButton:hover {
    background-color: white;
    cursor: auto;
}

.container {
    display: grid;
    height: calc(100% - 80px);
    gap: 10px 10px;
    margin: 15px 10px;
}

.containerSection {
    outline: solid;
    outline-width: thin;
    border-radius: 10px;
    position: relative;
}

.sectionCorner {
    display: inline-block;
    position: absolute;
    padding: 2px;
}

.time {
    top: 0;
    left: 0;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-radius: 10px 0;
}

.actionButton {
    top: 0;
    right: 0;
    border-left: solid;
    border-bottom: solid;
    border-radius: 0px 10px;
    border-width: thin;
}

.containerSectionMainContent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
}

.contentSpan {
    display: inline-block;
}